<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.ItemMapper">


<sql id = "searchType">
		<trim prefix="WHERE" prefixOverrides="AND|OR">	
			<if test="type == 'p_name' and keyword != null and keyword != ''">
				AND p_name like concat('%',#{keyword},'%')
			</if>
			<if test="type == 'tc.i_name' and keyword != null and keyword != ''">
				AND tc.i_name like concat('$',#{keyword},'%')
			</if>
		</trim>
	</sql>
	<select id="countProduct" resultType="int" parameterType="Page">
		SELECT		COUNT(*) 
		FROM		product ta
		
		left join	item tc on ta.i_idx = tc.i_idx
		<include refid="searchType"></include>
	</select>
	
	
	<select id="selectProduct" resultType ="Product">
	SELECT 		@ROWNUM := @ROWNUM -1 AS ROWNUM, 
				ta.p_idx ,
                ta.p_name,
                ta.p_price,
                tc.i_name,
                td.fileName
                
	FROM 		product ta
	
	left join	item tc on ta.i_idx = tc.i_idx
	left join	file td on ta.p_idx = td.p_idx
	INNER join	(SELECT @rownum:= (SELECT COUNT(*) -#{pageNum}+1 FROM product ta)) tb ON 1=1
	<include refid="searchType"></include>
	LIMIT #{pageNum},3
	
	</select>
	
	<select id="getItemList" resultType ="Item">
		SELECT 		*
		FROM 		Item
		
	</select>
	<select id="getSoldList" resultType="Sold">
		SELECT	*
		FROM	sold ta
		LEFT JOIN product tf ON ta.p_idx=tf.p_idx
		LEFT JOIN size tb ON ta.s_size=tb.s_size
		LEFT JOIN bank tc ON ta.s_bank=tc.s_bank
		LEFT JOIN color td ON ta.s_color= td.s_color
	
	</select>
	<!-- 
	1<select id="getProductList" resultType="Product">
		SELECT		*
		FROM		product ta

		LEFT JOIN 	item tc ON ta.i_idx = tc.i_idx
	</select>
	 -->
	
	
	<select id="itemsetDetail" resultType ="Item">
		SELECT	*
		FROM	item
		WHERE	i_idx=#{i_idx}
	</select>
	

	
	
	<select id="productsetDetail" resultType="Product">
		SELECT		*
		FROM		product ta
		LEFT JOIN 	item tb ON ta.i_idx=tb.i_idx
		
		WHERE		ta.p_idx = #{p_idx}
	</select>
	
	<select id="productsetfileUpdate" resultType="Product">
		SELECT	*
		FROM	file
		WHERE	p_idx= #{p_idx}
	</select>
	
	<resultMap id="productResult" type="Product">
		<id property="p_idx"			column="p_idx"/>
		<result property="p_name"		column="p_name"/>
		<result property="p_content"		column="p_content"/>
		<result property="p_date"	column="p_date"/>
		<result property="p_price" column="p_price"/>
	
		<collection property="boardFiles" ofType="BoardFile">
			<id property="bfIdx"			column="bf_idx"/>
			<result property="p_idx"			column="p_idx"/>
			<result property="fileName"		column="fileName"/>
		</collection>
		
	</resultMap>
	
	<select id="productdetail" resultMap="productResult">
		SELECT		*
		FROM		product ta
	
		LEFT JOIN	file tc ON ta.p_idx = tc.p_idx
		WHERE		ta.p_idx = #{p_idx}
	</select>
	
	<insert id="itemInsert" parameterType="Item">
		INSERT INTO item(
			i_idx,
			i_name
		)VALUES(
			#{i_idx},
			#{i_name}
		)
		
	</insert>
	
	

	<insert id="productInsert" parameterType="Product">
		INSERT INTO product(
			i_idx,
		
			p_idx,
			p_name,
			p_content,
			p_date,
			p_price
		)VALUES(
			#{i_idx},
		
			#{p_idx},
			#{p_name},
			#{p_content},
			#{p_date},
			#{p_price}
		)
		 <selectKey keyProperty="p_idx" resultType="Integer">
    		SELECT LAST_INSERT_ID()
  		</selectKey>
	</insert>
	

	<insert id="fileNames" parameterType="Product">	
		INSERT INTO file(p_idx, fileName)
		VALUES
		<foreach item="item" collection="fileNames" separator= ",">
			(#{p_idx},#{item})
		</foreach>
		
	</insert>
	<insert id="itemsetUpdate" parameterType="Item">
		UPDATE Item
		SET
			i_name =#{i_name}
			
		WHERE i_idx = #{i_idx}
	</insert>
	
	<insert id="itemsetDelete" parameterType="Item">
		DELETE 
		FROM Item
		WHERE i_idx = #{i_idx}
		
	</insert>
	
	
	<insert id="productsetUpdate" parameterType="Product">
		UPDATE product
		SET
			p_name = #{p_name},
			p_content = #{p_content},
			p_date = #{p_date},
			p_price =#{p_price}
			
		WHERE p_idx=#{p_idx}
	</insert>
	
	<insert id="productfileDelete" parameterType="BoardFile">
		DELETE 
		FROM file
		WHERE bf_idx = #{bfIdx}
	</insert>
	
	<insert id ="productsetDelete" parameterType="Product">
		DELETE ta.*, tb.*
		FROM product ta 
		LEFT JOIN file tb ON ta.p_idx = tb.p_idx
		WHERE ta.p_idx = #{p_idx}
	</insert>
	

	<select id="getproductList2" resultType="Product">
		SELECT	*
		FROM	product ta
		LEFT JOIN file tb ON tb.p_idx=ta.p_idx
		WHERE	i_idx LIKE concat(#{i_idx},'%')
		
		
	</select>
	
	<insert id="insertSold" parameterType="Sold">
		INSERT INTO sold(
			p_idx,
			s_idx,
			s_size,
			s_color,
			s_bank,
			s_account,
			s_address,
			u_id
		)VALUES(
			#{p_idx},
			#{s_idx},
			#{s_size},
			#{s_color},
			#{s_bank},
			#{s_account},
			#{s_address},
			#{u_id}
		)
	</insert>
	
	<select id="getbuyList" resultType="Sold">
		SELECT	*
		FROM	sold ta
		left join product tb on ta.p_idx = tb.p_idx
		left join color tc on ta.s_color = tc.s_color
		left join size td on ta.s_size = td.s_size
		WHERE	u_id = #{u_id}
		
	</select>
	<select id="getsoldTotal" resultType="Product">
		SELECT		tb.p_name,COUNT(*) as count,tc.fileName,ta.p_idx
		FROM		sold ta
		LEFT JOIN	product tb ON ta.p_idx= tb.p_idx
		LEFT JOIN	file tc ON ta.p_idx = tc.p_idx
		GROUP BY	tb.p_name
	</select>
	
	


</mapper>